body {
    font-family: cursive;
}

.container {
    width: 420px;
    margin: 3% auto;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 0 17px #333;
}

.header {
    text-align: center;
    padding-top: 25px;
}

.header h1 {
    color:rgb(9, 179, 71);
    font-size: 50px;
    margin-bottom: 40px;
}

.main {
    text-align: center;
}
.main input, button {
    width: 350px;
    height: 35px;
    font-family: cursive;
    border: 1px solid rgb(9, 179, 71);
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    margin-bottom: 30px;
}

.main button {
    padding-left: 0;
    background-color: rgb(9, 179, 71);
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 55px;
}

.main button:hover {
    box-shadow: 2px 2px 5px #555;
    background-color: rgb(9, 179, 71);
}


.main span {
    position: relative;
}

